<div class="container ">
    <div class="row justify-content-center">
        <p></p>
    </div>
    <div class="row justify-content-center">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/aliesell.png" class="rounded float-left" alt="Responsive image">
        </a>
        <h3 class="section-heading h2-responsive">Todo lo que deseas vender o comprar en un solo lugar</h3>
    </div>
    <div class="row justify-content-center">
        <p></p>
    </div>

    <div class="row justify-content-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QBYr0k8dOtw?start=25"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="row justify-content-center">
        <p></p>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mision</h5>
                    <p class="card-text" align="justify">Brindar servicios integrales de tecnologías de información como
                        servicios de compra y venta en el mundo digital, comprometidos en buscar el mayor grado de satisfacción, innovación y
                        calidad de los recursos administrados a nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vision</h5>
                    <p class="card-text" align="justify">Ser una empresa líder en la industria de las tecnologías de
                        información y servicios en la nube, que permita satisfacer las necesidades de nuestros clientes
                        garantizándoles la seguridad, integridad y disponibilidad de la información.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About me</h5>
                    <p class="card-text" align="justify">Nos distinguimos por ofrecer servicios diseñados a la medida y
                        acorde a las necesidades de nuestros clientes, buscando en todo momento lograr su satisfacción.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <p></p>
    </div>

</div>