<div class="d-flex">
    <!-- Card -->
    <mdb-card
      style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
      class="card-image mb-3 mx-2"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h2 class="red-text">
            <mdb-icon fas icon="ban"></mdb-icon>
            ACCESO DENEGADO
          </h2>
          <h4 class="card-title pt-2"><strong>Credenciales necesarias</strong></h4>
          <p>
            Estas intentando acceder a una pagina a la cual no tienes acceso, puedes regresar a la página principal en el siguiente botón.
          </p>
          <a mdbBtn color="pink" class="waves-light" routerLink="/" mdbWavesEffect>
            <mdb-icon  class="left"></mdb-icon>
            Página principal</a>
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  </div>