<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" (click)="irHome()"><h5><strong>Alie-Sell</strong></h5></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" (click)="irHome()" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link waves-light" routerLink="/tienda" mdbWavesEffect>Tienda<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!userLogged">
          <a class="nav-link waves-light" (click)="registrar()" mdbWavesEffect>Sign-in</a>
        </li>
        <li class="nav-item" *ngIf="!userLogged">
          <a class="nav-link waves-light" (click)="iniciarSesion()" mdbWavesEffect>Log-in</a>
        </li>

        <li>
          <div *ngIf="userLogged" style="max-height:50px; max-width:50px; overflow: hidden">
            <img [src]="userPicture" class="img-fluid z-depth-1 rounded-circle"
            alt="Responsive image">
         </div>
        </li>

        <li class="nav-item dropdown" *ngIf="userLogged" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"  mdbWavesEffect>
            <span class="caret">{{userName}} {{userLastName}}</span></a>
            
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="userRole==1" routerLink="/admin">CRUD</a>
            <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="userRole==2" routerLink="/admin">CRUD</a>
            <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="userRole==3" routerLink="/client">Preferencias</a>
            <!-- <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Tienda</a> -->
          </div>
        </li>


        <li class="nav-item" *ngIf="userLogged">
          <a class="nav-link waves-light" (click)="cerrarSesion()" mdbWavesEffect>Log-out</a>
        </li>

      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->